<div class="container-fiuld">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h4 class="text-danger text-muted">Welcome</h4>
            </div>
            <button href="" (click)="register()" type="button" class="btn btn-warning tex-center" >logout</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Joypearldev/CRUD.git
git push -u origin main